.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
    color: #000;
}

a.breadcrumb {
    font-size: 18px;
    color: rgba(236, 58, 58, 0.7);
}

html.page-center, html.page-center body {
    height: 100%;
}

html.page-center {
    display: table;
    margin: auto;
}

html.page-center body {
    display: table-cell;
    vertical-align: middle;
}

.checkbox label {
    width: 100%;
}